<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../public/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="../public/styles/user.css" type="text/css" />
  <script src="/public/scripts/jquery-3.3.1.js"></script>
  <script src="/public/scripts/app.js"></script>
</head>

<body>
  {{> navigation}}
<main>
<form action='/user/login' method="POST" id="login">
    <div class="container">
      <h1>Login</h1>
      <hr>

      <label for="username">
        <b>Username</b>
      </label>
      <input type="text" placeholder="Enter Username" id="username" name="username" required>

      <label for="password">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>


      <button type="submit" id="user-interaction">Login</button>
    </div>

    <div class="container signin">
      <p>Already have an account?
        <a href="#">Register now and start your adventure</a>.</p>
    </div>

  </form>

</main>
  
</body>
</html>